
body {
    background-color: #141414;
    max-width: 1080px;       
    margin: auto; 
    padding: 10px 25px;
    box-sizing: border-box;  
}

@font-face {
    font-family: "Overpass Mono";
    src: url("OverpassMono-VariableFont_wght.ttf") format("truetype"); }

* { font-variant-ligatures: none; -webkit-font-feature-settings: "liga" 0, "clig" 0; font-feature-settings: "liga" 0, "clig" 0; }

h1, h2, b, p, ul, li, a, div {font-family: 'Overpass Mono';}

p, ul, li, h1, h2, div {color: #fff;}

p, li, div  {font-size: 18px; margin-bottom: 10px; line-height: 1.4; margin-top: 0px;}

h1 {font-size: 42px; margin-bottom: 0px; margin-top: 0px;}

h2 {font-size: 24px; margin-bottom: 10px; margin-top: 0px;}

ul {padding: 0; list-style-position: inside; list-style-type: "- ";}

li {margin-top: 0px; margin-bottom: 5px;}

u {text-decoration: none;}  

b, mark {color: #B2E0FF; background-color: #141414;}

a {color: #B2E0FF; text-decoration: none;}

a:hover {text-decoration: underline;}

.no-underline {text-decoration: none !important;}

a.ringlink::after {content: attr(basetext)}

a.ringlink:hover::after {content: attr(hovertext)}

.footer-info {
    text-align: center;
    font-size: 14px;
}

.flexbox {
    justify-content: space-between; 
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 8px;
    margin-bottom: 0px;
}

.header {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax (0, 3fr);
    gap: 15px;
    align-items: center;
    margin-bottom: -6px;
}

.header-left { 
    grid-column: 1; 
}


.header-right {
    grid-column: 2 / 4;
    justify-self: end;
    text-align: right;
    margin-top: 6px;
}


* { box-sizing: border-box; }

.row {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr);
    gap: 15px; 
    align-items: start;
    padding: 0 0px;
}

.landscape,
.portrait {
    padding: 0;
}

.landscape img,
.portrait img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    cursor: pointer;
}


@media screen and (max-width: 1100px) {
    .header {
        grid-template-columns: 1fr;
        margin-bottom: 0px;
    }
    .profile-text {
        margin-bottom: 0px;
    }
    .header-left {
        margin-bottom: 0px;
    }
    .header-right {
        grid-column: 1;
        justify-self: start;
        text-align: left;
        margin-top: -6px;
    }
}

@media screen and (max-width: 700px) {

    .body {
        padding: 20px;
    }
    .profile-text {
        margin-bottom: 0px;
    }
    .header {
        grid-template-columns: 1fr;
        margin-bottom: 0px;
    }
    .header-left {
        margin-bottom: -12px;
    }
    .header-right {
        grid-column: 1;
        justify-self: start;
        text-align: left;
        margin-top: 0px;
    }
    p, li, div {
        font-size: 12px;
        margin-bottom: 6px;
        margin-top: 0px;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 0px;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .row {
        gap: 10px;
    }
    .landscape img, .portrait img {
        margin-bottom: 10px;
    }
}

/* modified from https://w3collective.com/modal-dialog-alpine-js/ */
 
.modal {
  position: fixed;
  inset: 0;                 
  display: grid;
  place-items: center;   
  z-index: 1100;    
  pointer-events: none;  
}

.modal-content {
  background: #141414;
  padding: 10px 28px 0px 28px;
  pointer-events: auto;  
  max-height: 80vh + 56px;
  max-width: 55vw + 56px;
  overflow: auto;
}

.modal-film {
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0px
}

.modal-img {
  max-height: 80vh;
  max-width: 55vw;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  object-fit: contain;
}

[x-cloak] { display: none !important; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  opacity: 0.75;
}

.button-88x31 {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
}