html {display: table; 
    margin: auto;}

body {display: table-cell;
    vertical-align: middle;
    background-color: #261b13
    }

p, ul, li, table, h1, h2 {color: #fff7db}

h1, h2 {text-align: center}

ul {padding: 0;
    list-style-position:inside}

u {text-decoration: none}

b, mark {color: #ffa340;
    background-color: #261b13;}

a {color: #ffd969;
    text-decoration: none;}

a:hover {text-decoration: underline}
