
body {
    background-color: #141414;
    max-width: 1080px;       
    margin: auto; 
    padding: 25px;       
    box-sizing: border-box;  
}

@font-face {
    font-family: "Overpass Mono";
    src: url("OverpassMono-VariableFont_wght.ttf") format("truetype"); }

h1, h2, b, p, ul, li, a, div {font-family: 'Overpass Mono';}

p, ul, li, h1, h2, div {color: #fff;}

p, li, div  {font-size: 18px; margin-bottom: 10px; line-height: 1.4; margin-top: 0px;}

h1 {font-size: 42px; margin-bottom: 10px; margin-top: 0px;}

h2 {font-size: 24px; margin-bottom: 10px; margin-top: 0px;}

ul {padding: 0; list-style-position: inside; list-style-type: "- ";}

li {margin-top: 0px; margin-bottom: 5px;}

u {text-decoration: none;}  

b, mark {color: #B2E0FF; background-color: #141414;}

a {color: #B2E0FF; text-decoration: none;}

a:hover {text-decoration: underline;}

a.ringlink::after {content: attr(basetext)}

a.ringlink:hover::after {content: attr(hovertext)}

.profile {
    float:left;
    height: 100px;
}

.profile-text {
    margin-left: 115px;
}

.flexbox {
    justify-content: space-between; 
    display: flex; 
    flex-wrap: wrap; 
    column-gap: 15px
}

.header {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax (0, 3fr);
    gap: 15px;
    align-items: center;
}

.header-left { 
    grid-column: 1; 
}

.header-right {
    grid-column: 2 / 4;
    justify-self: end;
    text-align: right;
    margin-top: 24px;
}

* { box-sizing: border-box; }

.row {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr) minmax(0, 2fr);
    gap: 15px; 
    align-items: start;
    padding: 0 0px;
}

.landscape,
.portrait {
    padding: 0;
}

.landscape img,
.portrait img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}


@media screen and (max-width: 1100px) {
    .header {
        grid-template-columns: 1fr;
    }
    .header-right {
        grid-column: 1;
        justify-self: start;
        text-align: left;
        margin-top: 0px;
    }
}

@media screen and (max-width: 700px) {
    .body {
        padding: 20px;
    }
    p, li, div {
        font-size: 12px;
        margin-bottom: 6px;
    }
    h1 {
        font-size: 28px;
        margin-bottom: 6px;
    }
    h2 {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .profile {
        height: 67px;
    }
    .profile-text {
        margin-left: 80px;
    }
    .row {
        gap: 10px;
    }
    .landscape img, .portrait img {
        margin-bottom: 10px;
    }
}

